.Search {
  box-align:center;
  -moz-box-align: center;
  background-position-x: center;
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  